* { 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

p {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

#debug { 
    background-color: antiquewhite;
    width: 100%; 
    position: absolute; 
    top: 0px; 
    z-index: 3;
    /* height: 30px;  */
}

#debug p {
    font-size: 15px;
}

#container {
    display: flex;
}

#map-container {
    margin: 10px;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

canvas {
    width: 500px; height: 500px;
}

#share-info {
    margin-top: 50px;
    margin-left: 100px;
}

.interface {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #dedee2;
}

#share-info p {
    text-align: left;
    font-size: 14px;
}

#control-panel {
    width: 100%;
    padding: 10px;
    display: flex;
}

#control-panel div {
    margin: 5px; 
    margin-right: 20px;
}

#control-panel button {
    width: 150px;
    margin-right: 10px;
}

#control-state p {
    margin-left: 10px;
    text-align: left;
    font-size: 16px;
}